@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap:100,200,300,400,500,600,700');

/*about.html----------------------------------Owner information*/
.bg-about-image{
    background: url("../images/about/image-saitama.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100%;   
}

.owner-info{
    color: #fde3a7;      
    font-family:'Noto Serif JP', serif, sans-serif;
    text-align: left;
    position: relative;   
}

.owner-info h1{
    text-transform: uppercase;
    margin-bottom: 25px;
 }


/*----------------------------------Media screen min-width 992px*/

@media only screen and (min-width: 992px){
/*about.html------------------------Media screen Owner information*/
.owner-info{
    font-size: 20px;
    background: linear-gradient(to left, rgb(255, 255, 255, 0)0%, rgba(25, 25, 25, 0.8) 5%, rgba(25, 25, 25, 0.8) 95%, rgb(255, 255, 255, 0) 100%); 
    margin-right: 100px;
    padding: 25px 50px 25px 50px;
    margin-top: 15vh;
    margin-left: 45%;                 
    }
}


/*----------------------------------Media screen max-width 991px*/

@media only screen and (max-width: 991px){
/*about.html------------------------Media screen Owner information*/
.owner-info{
    font-size: 16px;
    background: linear-gradient(to left, rgb(255, 255, 255, 0)0%, rgba(25, 25, 25, 0.8) 5%, rgba(25, 25, 25, 0.8) 95%, rgb(255, 255, 255, 0) 100%); 
    padding: 25px 50px 25px 50px;
    margin-top: 50px;
    margin-left: 10vh;
    margin-right: 10vh;       
    }
}


/*----------------------------------Media screen max-width 576px*/

@media only screen and (max-width: 576px){
/*about.html------------------------Media screen Owner information*/
.owner-info{  
    font-size: 16px;
    background-color: rgba(25, 25, 25, 0.8);
    width: 100%;
    padding: 50px 25px 50px 25px; 
    margin-top: 10vh;  
    margin-left: 0px; 
    }

}













