@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap:100,200,300,400,500,600,700');


/*about.html----------------------------------Background*/
.bg-about-image{
    background: url("../images/image-japan-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;   
}

/*about.html----------------------------------Background story owner*/
.owner-info{
    color: #fde3a7;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 20px;
    text-align: left;
    background-color: rgba(25, 25, 25, 0.8);    
}

.owner-info-heading{
    color: #fde3a7;
    background-color: rgba(25, 25, 25, 0.8);
    font-family:'Noto Serif JP', serif, sans-serif;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase; 
    width: 100%
}

.owner-info-heading h1{
    border-bottom: 3px solid;
    display: inline-block;
    padding-bottom: 10px; 
 }

/*about.html----------------------------------Reservation information*/
.reservation-info h2{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 25px;
    border-bottom: 3px solid;
}

.reservation-info{
    color: #fde3a7;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 20px;
    text-align: left;
    background-color: rgba(25, 25, 25, 0.8);    
}

#reservation-menu-button{
    color: #fde3a7;
    background-color: #202020;
    border-color: #bd8d32;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 16px;    
    text-transform: uppercase;
    margin-top: 20px;
    padding:3px 25px 3px 25px;
}

#reservation-menu-button:hover{
    background-color: #191919;
    border-color: #f5b745;
    color: #f5b745;
}

#menu-button{
    margin-top: 50px;
    text-align: center;
}


/*----------------------------------Media screen min-width 769px*/

@media only screen and (min-width: 769px){
/*about.html------------------------Media screen Background story owner*/
.owner-info-heading{
    padding-top: 100px;
    }

.owner-info{
    width: 100%;            
    }

.owner-info-story{
    padding: 50px;
    }

#owner-image{
    padding: 50px;
    }

/*about.html-------------------------Media screen Reservation information*/
.reservation-info{    
    padding: 10% 10% 150px 10%;
    width: 100%;   
    margin-bottom: 0px;
    }
}


/*----------------------------------Media screen max-width 768px*/

@media only screen and (max-width: 768px){
/*about.html------------------------Media screen Background story owner*/
.owner-info-heading{
    padding-top: 75px;
    }

.owner-info{    
    width: 100%;    
    }

.owner-info-story{
    padding: 10% 10% 20px 10%;
    }

#owner-image{
    padding: 10% 10% 20px 10%;
    }


/*about.html-------------------------Media screen Reservation information*/
.reservation-info{    

    padding: 10% 10% 120px 10%;
    width: 100%;        
    }



}














