@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap:100,200,300,400,500,600,700');


/*about.html----------------------------------Background*/
.bg-about-image{
    background: url("../images/image-japan-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;   
}

/*about.html----------------------------------Background story owner*/
.owner-info-heading{
    color: #fde3a7;
    background-color: rgba(25, 25, 25, 0.8);
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 20px;   
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase; 
    margin-top: 100px;
    width: 100%
}

.owner-info-heading h1{
    border-bottom: 3px solid;
    display: inline-block;
    padding-bottom: 10px; 
 }
   
.owner-info{
    color: #fde3a7;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 20px;
    width: 100%;    
    text-align: left;
    background-color: rgba(25, 25, 25, 0.8);    
}

.owner-info-story{
    padding: 50px;
}

#owner-image{
    padding: 50px;
}

/*about.html----------------------------------Reservation information*/
.reservation-info{
    color: #fde3a7;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 20px;
    padding: 10% 10% 35px 10%;
    width: 100%;  
    background-color: rgba(25, 25, 25, 0.8); 
    margin-bottom: 100px;
}

.reservation-info h2{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 25px;
    border-bottom: 3px solid;
}

#setmenu-image{
    padding-left: 0px;
    padding-right: 0px;
}

#reservation-menu-button{
    color: #fde3a7;
    background-color: #202020;
    border-color: #bd8d32;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 16px;    
    text-transform: uppercase;
    margin-top: 20px;
    padding:3px 25px 3px 25px;
}

#reservation-menu-button:hover{
    background-color: #191919;
    border-color: #f5b745;
    color: #f5b745;
}

#menu-button{
    margin-top: 50px;
    text-align: center;
}

















