@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap:100,200,300,400,500,600,700');


/*index.html----------------------------------Heading*/
.image-hero1{
    background: url("../images/image-hero-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.image-hero2{
    background: url("../images/image-hero-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.image-hero3{
    background: url("../images/image-hero-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

/*index.html----------------------------------restaurant information*/
.bg-info-image{
    background: url("../images/image-japan-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;    
}

.restaurant-info-image{       
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 50px;    
    position: relative;    
}

.restaurant-info-image img{
    border-radius: 50%;
    box-shadow: 15px 15px 10px grey;  
}

.restaurant-info{
    font-family: 'Noto Serif JP', serif, sans-serif;
    font-size: 20px;    
    color: #fde3a7;
}

.restaurant-info h2{
    text-transform: uppercase;
    padding-bottom: 10px;
}

#bg-info{
    padding-top: 50px;
    background-color: rgb(243, 243, 243);
}


#menu-button{
    color: #fde3a7;
    background-color: #202020;
    border-color: #bd8d32;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 16px;    
    text-transform: uppercase;
    margin-top: 50px;
    padding:3px 25px 3px 25px;
    
}

#menu-button:hover{
    background-color: #191919;
    border-color: #f5b745;
    color: #f5b745;
}



/*----------------------------------Media screen min-width 992px*/

@media only screen and (min-width: 992px){
/*----------------------------------Media screen hero-section*/
.hero-slogan{
    text-transform: uppercase;
    padding: 50px 0px 25px 0px;
    border-bottom: 5px solid;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 36px;
    color: #fde3a7;
    margin-bottom: 50px;    
    }

.hero-cover{
    width: 750px;    
    height: 300px;    
    padding: 25px 25px 25px 25px;
    margin: auto;
    margin-top: 35vh;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.5);
    position: relative;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 20px;
    text-transform: uppercase;    
    color: #fde3a7;    
    }

.reservation-button a{   
    color: #fde3a7; 
    background-color: #202020;    
    border: solid 1px #f5b745;
    border-radius: 4px;
    font-size: 16px;    
    padding:10px 25px 10px 25px;
    }

.reservation-button a:hover{   
    color: #f5b745;
    background-color: #191919;
    text-decoration: none;    
    }

/*----------------------------------Media screen restaurant-info-section*/
.restaurant-info{
    
    width: 900px;
    padding: 50px 25px 50px 25px;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.8);
    position: relative; 
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;    
    }
}

/*----------------------------------Media screen max-width 991px*/

@media only screen and (max-width: 991px){
/*----------------------------------Media screen hero-section*/
 .hero-slogan{
    text-transform: uppercase;
    padding: 25px 0px 10px 0px;
    border-bottom: 3px solid;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 24px;
    color: #fde3a7;    
    }

 .hero-cover{       
    padding: 40px 10px 50px 10px;
    margin: auto;
    margin-top: 40vh;
    width: 80%;   
    text-align: center;
    background-color: rgba(25, 25, 25, 0.5);
    position: relative;
    font-family:'Noto Serif JP', serif, sans-serif;
    text-transform: uppercase;    
    color: #fde3a7;   
    }

.reservation-button a{   
    color: #fde3a7; 
    background-color: #191919;
    border: solid 1px;
    border-radius: 4px;
    border-color: #f5b745;    
    font-size: 12px;    
    padding:5px 10px 5px 10px;
    }

.reservation-button a:hover{   
    color: #f5b745;
    text-decoration: none;    
    }

/*----------------------------------Media screen restaurant-info-section*/
.restaurant-info{
    padding: 50px 0px 50px 0px;
    margin: auto;
    margin-top: 20vh;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.8);
    }   
}
















