@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap:100,200,300,400,500,600,700');


/*index.html----------------------------------Heading*/
.image-hero1{
    background: url("../images/index/image-hero-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.image-hero2{
    background: url("../images/index/image-hero-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.image-hero3{
    background: url("../images/index/image-hero-3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

/*index.html----------------------------------restaurant information*/
#bg-info{
    background-color: rgba(25, 25, 25, 0.9);
}

.restaurant-info{
    font-family: 'Noto Serif JP', serif, sans-serif;
    font-size: 1.25rem;    
    color: #fde3a7;
}

.restaurant-info h2{
    text-transform: uppercase;
    border-bottom: 0.1875rem solid;
    display: inline-block;
    padding-bottom: 0.625rem;
    margin-bottom: 1.25rem;
}

.restaurant-info-image{       
    margin-top: 0rem;
    margin-bottom: 6.25rem;
    padding: 3.125rem;    
    position: relative;   
}

.restaurant-info-image img{
    border-radius: 50%;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgb(184, 184, 184);
    height: 100%;
    width: 100%;
}

.restaurant-menu-button{
    margin-top: 3.125rem;
}

.restaurant-menu-button a{
    color: #fde3a7;
    background-color: #202020;
    border-radius: 0.25rem;
    border: solid 0.125rem #bd8d32;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 1rem;    
    text-transform: uppercase;   
    padding:0.3125rem 1.25rem 0.3125rem 1.25rem;    
}

.restaurant-menu-button a:hover{
    background-color: #191919;
    text-decoration: none;  
    color: #f5b745;
}


/*----------------------------------Media screen min-width 992px*/

@media only screen and (min-width: 992px){
/*----------------------------------Media screen hero-section*/
.hero-slogan{
    text-transform: uppercase;
    padding: 3.125rem 0rem 1.625rem 0rem;
    border-bottom: 0.3125rem solid;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 2.25rem;
    color: #fde3a7;
    margin-bottom: 3.125rem;    
    }

.hero-cover{
    width: 46rem;    
    height: 18rem;    
    padding: 1.5rem;
    margin: auto;
    margin-top: 35vh;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.5);
    position: relative;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;    
    color: #fde3a7;    
    }

.reservation-button a{   
    color: #fde3a7; 
    background-color: #202020;    
    border: solid 0.125rem #bd8d32;
    border-radius: 0.25rem;
    font-size: 1rem;    
    padding:0.625rem 1.5rem 0.625rem 1.5rem;
    }

.reservation-button a:hover{   
    color: #f5b745;
    background-color: #191919;
    text-decoration: none;    
    }

/*----------------------------------Media screen restaurant-info-section*/
 #bg-info{
     padding-top: 6.25rem;
     }   

.restaurant-info{
    background: linear-gradient(to left, rgb(255, 255, 255, 0.2)0%, rgba(25, 25, 25, 0.8) 5%, rgba(25, 25, 25, 0.8) 95%, rgb(255, 255, 255, 0.2) 100%); 
    width: 56.25rem;
    padding: 3.125rem 1.5rem 3.125rem 1.5rem;
    text-align: center;
    margin:auto;     
    margin-bottom: 3.125rem;
    border-radius: 0.3125rem;
    }      
}


/*----------------------------------Media screen max-width 991px*/

@media only screen and (max-width: 991px){
/*----------------------------------Media screen hero-section*/
 .hero-slogan{
    text-transform: uppercase;
    padding: 1.5rem 0rem 0.625rem 0rem;
    border-bottom: 0.1875rem solid;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 1.5rem;
    color: #fde3a7;    
    }

 .hero-cover{       
    padding: 2.5rem 0.625rem 3.125rem 0.625rem;
    margin: auto;
    margin-top: 30vh;
    width: 80%;   
    text-align: center;
    background-color: rgba(25, 25, 25, 0.5);
    position: relative;
    font-family:'Noto Serif JP', serif, sans-serif;
    text-transform: uppercase;    
    color: #fde3a7;   
    }

.reservation-button a{   
    color: #fde3a7; 
    background-color: #202020;
    border: solid 0.125rem #bd8d32;
    border-radius: 0.25rem;   
    font-size: 0.75rem;    
    padding:0.3125rem 0.625rem 0.3125rem 0.625rem;
    }

.reservation-button a:hover{   
    color: #f5b745;
    background-color: #191919;
    text-decoration: none;    
    }

/*----------------------------------Media screen restaurant-info-section*/
.restaurant-info{
    padding: 4.75rem 1rem 3.125rem 1rem;
    margin: auto;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.9);
    }   
}


/*----------------------------------Media screen max-width 767px*/

@media only screen and (max-width: 767px){
/*----------------------------------Media screen restaurant-info-section*/
.no-image-sm{
    display: none;
    }
}











