@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap:100,200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/*----------------------------------General spacing, padding, margins & colors*/
body{
    background-color: #2A2A2A;
}

/*----------------------------------Navigation menu*/
.bg-nav-color{
    background-color: #191919;
}
#main-menu-box{
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0px;
    height: 65px;
    width: 100%;
    z-index: 9;
}

#logo{
    color: #fde3a7;
    font-family: 'Kaushan Script', cursive, sans-serif;
    font-size: 36px;    
}
#main-menu a{
    text-transform: uppercase;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 20px;
    color: #fde3a7;
}

#main-menu a:hover{
    color: #f5b745;
}

#main-menu li{
    padding-left: 10px;
}




/*index.html----------------------------------Heading*/
.image-hero1{
    background: url("../images/image-hero-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

.image-hero2{
    background: url("../images/image-hero-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

.image-hero3{
    background: url("../images/image-hero-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

.carousel-margin{
    margin-top: 65px;
}

/*index.html----------------------------------Restaurant Information*/
.restaurant-info-heading{
    color: #f5b745;
    font-family:'Noto Serif JP', serif;
    font-size: 20px;
    text-align: center;
}

.restaurant-info-heading h2{
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 50px;
 }


#restaurant-info-cover-text{   
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 20px;
    text-transform: uppercase; 
    color: #f5b745;  
    }


@media only screen and (min-width: 576px){
.restaurant-info-image{
    background: url("../images/image-japan-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 95%;
    position: relative;
    }

#restauraunt-info-container{
    padding-top: 150px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    }

#restaurant-info-cover{
    width: 500px;
    padding: 50px 25px 50px 25px;
    margin:auto;
    margin-top:100px;
    margin-bottom: 100px;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.5);
    }

.restaurant-info-image-zoom{
     transition: transform 15s;     
}

.restaurant-info-image-zoom:hover{
    transform: scale(1.5);
    }






}

@media only screen and (max-width: 576px){
.restaurant-info-image{
    background: url("../images/image-japan-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    }

#restauraunt-info-container{
    margin-top: 0px;
    }

#restaurant-info-cover{
    padding: 50px 25px 50px 25px;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.5);
    }   
}











/*about.html----------------------------------Background story owner*/
.owner-info-heading{
    color: #f5b745;
    font-family:'Noto Serif JP', serif;
    font-size: 20px;
    text-align: center;
}

.owner-info-heading p{
    padding-top: 50px;
}
   
.owner-info{
    color: #f5b745;
    font-family:'Noto Serif JP', serif;
    font-size: 20px;
    padding-top: 160px;
}

.owner-info-story{
    padding: 50px;
}

.owner-info-story h2{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 25px;
    border-bottom: 3px solid;
}

.owner-info-story p{
    padding-top: 25px;
}

#owner-image{
    padding-left: 0px;
    padding-right: 0px;
}


/*about.html----------------------------------Reservation information*/
.reservation-info-heading{
    color: #f5b745;
    font-family:'Noto Serif JP', serif;
    font-size: 20px;
    padding-top: 0px;
}

.reservation-info{
    padding: 50px;
}

.reservation-info h2{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 25px;
    border-bottom: 3px solid;
}

.reservation-info p{
    padding-top: 25px;
}

#setmenu-image{
    padding-left: 0px;
    padding-right: 0px;
}


#reservation-menu-button{
    color: #bd8d32;
    background-color: #202020;
    border-color: #bd8d32;
    font-family:'Noto Serif JP', serif;
    font-size: 16px;    
    padding:3px 25px 3px 25px;
}

#reservation-menu-button:hover{
    background-color: #191919;
    border-color: #f5b745;
    color: #f5b745;
}

#menu-button{
    text-align: center;
}


/*----------------------------------Contact form*/
.contact-heading{
    color: #fde3a7;
    font-family:'Noto Serif JP', serif;
    font-size: 20px;
    padding-top: 50px;
    text-align: center;
}

.contact-heading h2{
    text-transform: uppercase;
    border-bottom: 3px solid;
    display: inline-block;
    padding: 50px 0px 10px 0px;
 }


.contact-info{
    color: #f5b745;
    font-family:'Noto Serif JP', serif;
    font-size: 20px;
    padding-top: 50px;
}

.contact-form{
    padding: 50px;
}

.contact-heading h2{
    text-transform: uppercase;
    padding-bottom: 25px;
    border-bottom: 3px solid;
}

.text-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;     
    border-radius: 4px;
    
}




/*----------------------------------Map*/

#map{
    width:345px;
    height:345px;
}

#map-padding{
    padding-top: 100px;
    
}





/*----------------------------------Footer*/
.footer{
    text-transform: uppercase;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 16px;
    color: #fde3a7;
    background-color: #191919;
    padding-top: 12px;
}
    
.footer a{
    color: #fde3a7;
}




/*----------------------------------Media screen footer*/
@media only screen and (max-width: 992px){
.copyright{    
    text-align: center;
    }
.social-media{
    padding: 0px;
    text-align: center;
    }
}

/*----------------------------------Media screen hero-section*/
@media only screen and (min-width: 768px){
.hero-slogan{
    text-transform: uppercase;
    padding: 75px 0px 25px 0px;
    border-bottom: 5px solid;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 36px;
    color: #fde3a7;    
 }

.hero-cover{
    width: 750px;    
    height: 300px;    
    padding: 25px 25px 25px 25px;
    margin: auto;
    margin-top: 250px;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.5);
    position: relative;
    }

.hero-cover-text{   
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 20px;
    text-transform: uppercase;    
    color: #fde3a7;    
    }

.hero-cover-text:hover{   
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 20px;
    text-transform: uppercase;    
    color: #f5b745a7;
    text-decoration: none;    
    }
}

@media only screen and (max-width: 767px){
 .hero-slogan{
    text-transform: uppercase;
    padding: 50px 0px 25px 0px;
    border-bottom: 5px solid;
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 24px;
    color: #fde3a7;    
 }

 .hero-cover{
    width: 100%;   
    height: 150px;    
    padding: 25px 25px 25px 25px;
    margin: auto;
    margin-top: 0px;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.5);
    position: relative;
    }

.hero-cover-text{   
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 16px;
    text-transform: uppercase;    
    color: #fde3a7;    
    }

.hero-cover-text:hover{   
    font-family:'Noto Serif JP', serif, sans-serif;
    font-size: 16px;
    text-transform: uppercase;    
    color: #f5b745a7;
    text-decoration: none;    
    }
}


@media only screen and (min-width: 768px){
.image-hero1{
    height: 95vh;
    }

.image-hero2{
    height: 95vh;
    }

.image-hero3{
    height: 95vh;
    }
}

@media only screen and (max-width: 768px){
.image-hero1{
    height: 50vh;
    }

.image-hero2{
    height: 50vh;
    }

.image-hero3{
    height: 50vh;
    }
}



















